html {
    background-image: linear-gradient(#FC5E55 ,#FA4083);
}
body {
    background-image: url(images/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: white;
    
}
a {
    color:white;
    text-decoration: none;
}



.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

header {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

main {
    
    min-height: 300px;
    display:flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.cardbox1,.cardbox2,.cardbox3 {
    padding :30px 30px 20px 30px;
    box-sizing: border-box;
}

.cardboxcontainer {
    
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.herobox1 {
  flex:2;
  padding-right: 100px;
}

.herobox2 {
    flex:1;
}

.cardbox1 {
    
    background-image: url('images/image-background-card1.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width:30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,0.228);
}

.cardbox2 {
    background-image: url('images/image-background-card2.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.cardbox3 {
    background-image: url(images/image-background-card3.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
    
}
h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
}

h2 {
    font-size: 2rem;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
    
}

.cardboxcontainer p {
    line-height: 1.2rem;
    font-size: 0.85rem;
    margin-top: 10px 
}

.cardboxcontainer i {
    font-size: 100px;
    
} 

.myButton {
    background-color: white;
    padding:11px 25px;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    margin-top: 17px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
} 
a.myButton:hover {
    background-color: lightgreen;
    transition-duration: 1s;
}
.navButton {
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    border:1px solid white;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
    position: relative;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    box-sizing: border-box;
    padding: 50px;
    border: 1px solid white;
    margin-top: 50px;
}

/* .tbox :last-child {
    font-size: 0.8rem;
    margin-left: 30px;
} */

.tbox p:last-of-type {
    font-size: 0.8rem;
    margin-left: 30px;
}

.dropdown {
    display: none;
    position: absolute;
    text-align: center;
    margin-left: -26px;
}

.navButton:hover .dropdown {
    display: block;
    padding-top: 20px;

    
}

.dropdown .navButton {
    background-color: white;
    width: 120px;
    

}

.dropdown .navButton a {
    color: #FA4083;
}
.inputWrapper {
    margin-bottom: 20px;
}

input[type=text],input[type=email],textarea {
    padding: 12px 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;

}
.newline {
    display: inline-block;
    margin-bottom: 10px;
}

.margin-right-a {
    margin-right:20px ;
}

input[type=radio] {
    margin-right: 10px;
}

form {
    margin: 40px 0;
}




